* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.titulo{
    text-align: center;
    color:  #c185b393;
    margin-bottom: -3px;
    margin-top: -12px;
}
.to{
    text-align: center;
    color:  #c185b393;
    margin-bottom: 25px;
    font-size: 45px;
}

.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    width: 450px;
    height: 520px;
    background-color: white;
    border-radius: 8px;
    padding: 40px;
}

.form-control{
    margin-bottom: 30px;
}

.form-check-input{
    margin-bottom: 30px;
}

.but{
    margin: 30px;
}

footer{
    background: #ffddf7;
    padding: 15px;
    text-align: center;
    color: #c185b3c4;
}
